/* 폰트 */
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");

@font-face {
  font-family: 'GROBOLD';
  font-style: normal;
  font-weight: normal;
  src: local('GROBOLD'), url('GROBOLD.woff') format('woff');
  }

/* 커서
body {
  cursor: url(img/cursor.png), auto !important;
}

.cursor-pointer {
  cursor: url(img/cursor_2.png), auto !important;
} */

/* 노말라이즈 */
body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.img-box>img {
  display: block;
  width: 100%;
}

.site-wrap {
  width:1280px;
  margin:0 auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 커스텀 */
body {
  min-width: 1920px;
  overflow-x:hidden;
  width:100vw;
  height:100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

/* 탑바 */
.top-bar {
  height:120px;
  background-color: #FFCF64;
  font-family: 'GROBOLD';
  font-size:24px;
}

.sub-menu {
  color:#fff;
  text-shadow: 2px 2px 2px rgba(48, 48, 48, 0.5);
}

.top-bar .logo {
  width:80px;
}

/* 메인페이지-메인 배너 */
.main-banner {
  height:600px;
}

/* 메인페이지-베스트 도넛 */
.best-donut {
  margin-left:40px;
  margin-top:100px;
  height:534px;
}

.best-donut > .title {
  margin-bottom: 40px;
  font-family: 'GROBOLD';
  font-size:30px;
  text-shadow: 2px 2px 2px rgba(48, 48, 48, 0.5);
  color:#FF4E00;
}

.about-donut {
  margin-top: -82px;
  width: 470px;
  height: 350px;
}

.about-donut .title {
  margin-top:10px;
  font-size: 30px;
  font-weight: 700;
}

.donut-list > img {
  position: relative;
  z-index: 1;
}

.no-1, .no-3, .no-5 {
  background-color: #FFCF64;
}

.no-2, .no-4, .no-6 {
  background-color: #F7F2DE;
}

/* 메인페이지-랜디스 도넛 소개 */
.randys-intro {
  margin-top: 140px;
  height: 1564px;
}

.randys-intro .title {
  font-size: 24px;
  font-weight: 700;
}

/* 메인페이지-메뉴 박스 */
.menu-box {
  margin-top: 140px;
}

.menu-box > div > div {
  width: 400px;
  height: 400px;
}

.menu-box > div > div:not(:last-child) {
  margin-right:40px;
}

.menu-box .box-1 {
  background-color: #FFCF64;
}

.menu-box .box-2 {
  background-color: #F7F2DE;
}

.menu-box .box-3 {
  background-color: #FF4E00;
}

.menu-box .text {
  font-size: 20px;
}

.menu-box .text .title {
  margin-top:32px;
  font-size: 30px;
  font-weight: 700;
}

/* 메인페이지-띠 배너 */
.band-banner {
  margin-top: 140px;
  height: 197px;
  background-color: #FFCF64;
}

/* 메인페이지-인스타그램 */
.insta {
  margin-top: 140px;
}

.insta > .title {
  margin-bottom: 40px;
  font-family: 'GROBOLD';
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(48, 48, 48, 0.5);
  color:#FF4E00;
}

.insta .section-1 {
  margin-right: 32px;
}

.insta .section-1 > img {
  width:494px;
  height:494px;
}

.insta .section-2 > div > div:not(:last-child) {
  margin-right: 33px;
  margin-bottom: 33px;
}

.insta .section-2 img {
  width:230px;
  height:230px;
}

/* 푸터 */
.bottom-bar {
  margin-top: 140px;
}

.moving {
  height: 150px;
  font-family: 'GROBOLD';
  font-size: 80px;
  text-shadow: 4px 4px 2px rgba(48, 48, 48, 0.5);
}

.moving-1 {
  background-color: #FFCF64;
  color: #FF4E00;
}

.moving-2 {
  background-color: #FF4E00;
  color: #FFCF64;
}

.footer {
  height: 100px;
  background-color: #FF4E00;  
  color: #fff;
  font-size: 16px;
}

.footer .content > li:not(:last-child)::after {
  content: "　│";
  margin-right:10px;
}